h1 {
    font-size:xx-large;
    color: blueviolet;
    text-align: center;
    font-style: italic;
}
h2 {
    text-align: center;
    color: cornflowerblue;
}
img {
    float: right;
}
body {
    background-image:url(../images/background.jpg);
}
h3 {
    color: white;
    text-align: center;
    font-size: large;
}
ul {
    color: white;
}
h4 {
    color: white;
    text-align: center;
    font-size: xx-large;
}
p {
    color: white;
}
span {
    color: red;
}
.p {
    color: blue;
}